html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  // display: block;
  // max-width: 100%;
  height: auto;
}

body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}
