{{!-- modal-form --}}
<div class="modal__window">
  <button class="modal__close-btn" type="button">
    <svg class="modal__close-icon" width="30" height="30">
      <use href="#"></use>
    </svg>
  </button>
  <picture></picture>
  <h2>Info</h2>
  <p>Atlas Weekend is the largest music festival in Ukraine.
More than 200 artists will create a proper music festival atmosphere on 10 stages</p>
  <h2>When</h2>
  <p>2021-06-09</p>
  <p>20:00 (Kyiv/Ukraine)</p>
  <h2>Where</h2>
  <p>Kyiv, Ukraine</p>
  <p>VDNH</p>
  <h2>Who</h2>
  <p>The Black Eyed Peas</p>
  <h2>Prices</h2>
  <p>Standart 300-500 UAH</p>
  <button>Buy tickets</button>
  <p>VIP 1000-1500 UAH</p>
  <button>Buy tickets</button>
  <button>More From This Author</button>
</div>