<section class="container">
    <ul class="gallery">
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  
    <li class= "gallery__item">
      <a class="" href="">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/cards/img.jpg  1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/cards/img.jpg 1x,
              ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/cards/img.jpg 1x,
                ./images/cards/img.jpg 2x
              "
              type="image/jpg"
            />
            <img
            class="gallery__img"
              src="./images/cards/img.jpg"
              alt="фото веб-сайта"
            />
          </picture>
  
          <div class="gallery__wrap">
            <h2 class="gallery__title"> Eurovision 2021 finals!</h2>
            <p class="gallery__txt">2021-05-13</p>
          </div>
        </div>
      </a>
      <a class="gallery__link" href="">Palace of Ukraine</a>
    </li>
  </ul></section>

