<footer class="footer">
  <div class="container">
    <a class="footer__link" href="#" target="_blank" rel="noopener">
      &#169; 2022 | All Rights Reserved | Developed with ❤️ by GoIT Students
    </a>
  </div>
  <div class="select-container">
    <div class="select-box">
      <div class="options-container">
        <div class="option">
          <input type="radio" class="radio" id="US" name="category" />
          <label for="US">United States Of America</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="AR" name="category" />
          <label for="AR">Argentina</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="AU" name="category" />
          <label for="AU">Australia</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="AT" name="category" />
          <label for="AT">Austria</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="BE" name="category" />
          <label for="BE">Belgium</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="BR" name="category" />
          <label for="BR">Brazil</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="CA" name="category" />
          <label for="CA">Canada</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="CN" name="category" />
          <label for="CN">China</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="FR" name="category" />
          <label for="FR">France</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="DE" name="category" />
          <label for="DE">Germany</label>
        </div>
        <div class="option">
          <input type="radio" class="radio" id="UA" name="category" />
          <label for="UA">Ukraine</label>
        </div>
      </div>
      <div class="selected">Choose country</div>
    </div>
  </div>
</footer>
