<header class="header">
  <div class="container">
    <div class="logo-bg">
      <div theme="dark">
        <div>
          <input type="checkbox" id="theme-toggle" class="switch" />
          <label for="theme-toggle"></label>
        </div>
      </div>
      <svg class="logo" width="70" height="30">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </div>

    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="input-container">
      <div class="search__container">
        <form class="js-serch-query">
          <input
            name="serchQuery"
            class="search-input input"
            type="text"
            placeholder="Start searching"
          />
          <button type="submit" class="search-input__button">
            <svg class="search-input__icon" width="15" height="20">
              <use href="./images/sprite.svg#icon-input-loop"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="select-container">
        <div class="select-box">
          <div class="options-container">
            <div class="option">
              <input type="radio" class="radio" id="US" name="category" />
              <label for="US">United States Of America</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="AR" name="category" />
              <label for="AR">Argentina</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="AU" name="category" />
              <label for="AU">Australia</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="AT" name="category" />
              <label for="AT">Austria</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="BE" name="category" />
              <label for="BE">Belgium</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="BR" name="category" />
              <label for="BR">Brazil</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="CA" name="category" />
              <label for="CA">Canada</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="CN" name="category" />
              <label for="CN">China</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="FR" name="category" />
              <label for="FR">France</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="DE" name="category" />
              <label for="DE">Germany</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" id="UA" name="category" />
              <label for="UA">Ukraine</label>
            </div>
          </div>
          <div class="selected">Choose country</div>
          <div class="search__box">
            <input type="text" placeholder="Start Typing..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
