.act {
  color: #DC56C5;
  border: 1px solid #DC56C5;
  padding: 5px 10px;
  border-radius: 10px 0px;
}

.paginal {
  color: #fff;
  display: flex;
  align-items: baseline;
  margin-left: 20px;
  gap: 20px;
  cursor: pointer;
}