.header {
  position: relative;
  padding-top: 80px;
  padding-bottom: 112px;
  background: url(../images/header/bg-mobile@x2.jpg) center center/cover
    no-repeat;
}

.logo-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 127px;
  height: 90px;
  padding-top: 19px;
  border-bottom-right-radius: 100%;
  background: linear-gradient(
    136deg,
    rgba(196, 196, 196, 0.3) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);
}

// .logo {
//   margin-bottom: 31px;
//   margin-top: 19px;
// }

.header__title {
  width: 220px;
  color: #dc56c5;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
  height: 40px;
  padding: 16px 32px;
  color: #939393;
}

.search-input {
  margin-bottom: 24px;
}

.country-input {
}
