.header {
  position: relative;
  padding-top: 80px;
  padding-bottom: 112px;
  margin: 0 auto;
  background: url(../images/header/bg-mobile@x1.jpg) center center/cover
    no-repeat;

  @include mq(retina) {
    background: url(../images/header/bg-mobile@x2.jpg) center center/cover
      no-repeat;
  }

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
    padding-top: 40px;
    padding-bottom: 170px;
    background: url(../images/header/bg-tablet@x1.jpg) center center/cover
      no-repeat;

    @include mq(retina) {
      background: url(../images/header/bg-tablet@x2.jpg) center center/cover
        no-repeat;
    }
  }

  @include mq(desktop) {
    width: 1280px;
    background: url(../images/header/bg-desktop@x1.jpg) center center/cover
      no-repeat;

    @include mq(retina) {
      background: url(../images/header/bg-desktop@x2.jpg) center center/cover
        no-repeat;
    }
  }
}

.logo-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 106px;
  height: 89px;
  padding-top: 19px;
  border-bottom-right-radius: 100%;
  background: linear-gradient(
    136deg,
    rgba(196, 196, 196, 0.3) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);

  @include mq(tablet) {
    width: 180px;
    height: 150px;
  }

  @include mq(desktop) {
    width: 230px;
    height: 193px;
    padding-top: 30px;
  }
}

.logo {
  margin-left: 20px;
  fill: #fff;

  @include mq(tablet) {
    width: 120px;
    height: 45px;
  }

  @include mq(desktop) {
    width: 160px;
    height: 70px;
  }
}

.header__title {
  width: 220px;
  color: #dc56c5;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  line-height: 1.2;

  @include mq(tablet) {
    font-size: 30px;
    width: 360px;
    margin-bottom: 40px;
  }

  @include mq(desktop) {
    width: 595px;
    font-size: 50px;
  }
}

.input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
  height: 40px;
  padding: 16px 32px;
  color: #939393;

  @include mq(mobile) {
    width: 336px;
  }
}

.search-input {
  margin-bottom: 24px;

  @include mq(tablet) {
    margin-right: 32px;
  }
}

.country-input {
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // @include mq(tablet) {
  //   justify-content: space-between;
  // }
}

.paginal {
  color: #fff;
  display: flex;
  margin-left: 20px;
  gap: 10px;
  cursor: pointer;
}