.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  z-index: 2;
  // background-color: #0E0E0E;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  background-image: url('../images/modal-card/mobile/noise-body.png');

  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: url('../images/modal-card/mobile/noise-body@2x.png');
  }
}

.modal__window {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px;

  width: 280px;
  height: 952px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);

  text-align: center;

  background: #FFF2FD;
  border-radius: 150px 0px;
}

.modal__img img {
  border-radius: 50%;
}

.modal__list {
  margin-bottom: 24px;
}

.modal__item {
  margin-top: 16px;
}

.modal__title {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: #DC56C5;
}

.modal__text {
  margin-bottom: 3px;

  &:last-child {
  margin-bottom: 0px;
  }
}

.modal__buy-btn {
  margin: 16px 0px;
  width: 145px;
  height: 40px;

  font-weight: 500;
  line-height: 1.25;

  color: #FFFFFF;

  background-color: #4C00FE;
  border-radius: 5px;

  &:last-child {
  margin-bottom: 0px;
  }
}

.modal__author-btn {
  width: 230px;
  height: 40px;

  font-weight: 500;
  line-height: 1.25;

  background-color: rgba(76, 0, 254, 0);;
  color: #4C00FE;

  border: 1px solid #4C00FE;
  border-radius: 5px;
}